/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	z-index: 1;
	width: 100%;
	opacity: 0.9;
	margin-bottom: 1rem;
}

.navbar h1 {
	display: flex;
}
.navbar h2 {
	color: #000000;
}
.navbar h3 {
	display: flex;
}
.navbar ul {
	display: flex;
	color: #000000;
}

.navbar a {
	color: #000000;
	/* padding: 0.45rem; */
	margin: 0 0.4rem;
}

.navbar a:hover {
	color: var(--light-color);
}

.navbar .welcome span {
	margin-right: 0.6rem;
}
