.button {
	width: 80px;
	height: 40px;
	background-color: #f0efef;
	color: #050507;
	border: 1px solid #362e2d;
	padding: 3%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 0px;
	cursor: pointer;
}
.delbutton {
	width: 60px;
	height: 40px;
	background-color: #f0efef;
	color: #000000;
	border: 0px solid #dc3545;
	padding: 0.4rem 0.8rem;
	/* margin-left: 16px; */
	margin: 4px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
}
