.stop {
	display: flex;
	padding-bottom: 5%;
}

.stopGap {
	width: 50px;
	margin: 0;
}

/*.stopLeft {
	max-width: 30%;
	margin: 0;
}*/

/*.stopLeft {
	max-width: 30%;
	margin: 0;
}
.stop .gap {
	width: 10px;
	margin: 0;
}
.stop .right {
	max-width: 600px;
	margin: 0;
}
*/